<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Confirm Reset Account Password</title>
</head>

<body>
    <div class="container">
        <h1 class="page-title">Confirm Reset Account Password</h1>
        <div class="form">
            <div>
                <label for="newPassword">Your password:</label>
                <input type="password" class="input-password" id="newPassword" name="newPassword">
            </div>
            <div>
                <label for="confirmNewPassword">Confirm your password:</label>
                <input type="password" class="input-password" id="confirmNewPassword" name="confirmNewPassword">
            </div>            
            <input id="submit" class="submit-button" type="submit" value="Submit">
        </div>
    </div>
</body>

</html>

<script>    
    function main() {
        const urlParams = retrieveUrlParams();
        createEvents(urlParams);
    }

    function retrieveUrlParams() {
        const params = new URLSearchParams(window.location.search);
        const token = params.get("token");
        const email = params.get("email");

        return {
            token: token,
            email: email
        };
    }

    function createEvents(urlParams) {
        const submitButton = document.getElementById("submit");

        submitButton.addEventListener("click", async () => {                    
            const newPassword = document.getElementById("newPassword").value;
            const confirmNewPassword = document.getElementById("confirmNewPassword").value;

            if (!newPassword || !confirmNewPassword) {
                alert("The inputs must not be empty");
                return;
            }

            if (newPassword != confirmNewPassword) {
                alert("The inputs must be equals");
                return;
            }

            const body = mountBody(urlParams.token, urlParams.email, newPassword);

            const response = await request(body);
            if (response.status != 200) {            
                const json = await response.json();
                const errorObject = JSON.parse(json.error);                
                alert(`Sorry, we had the following error: '${errorObject.message}'.`);
            } else {
                alert("Account password has been updated");
                window.location.href = "/";
                window.location.replace();
            }            
        });
    }

    function mountBody(token, email, newPassword) {
        return {
            token: token,
            email: email,
            newPassword: newPassword
        };
    }

    async function request(body) {

        const response = await fetch("/account/confirm-reset-account-password", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json;charset=UTF-8"
            },
            body: JSON.stringify(body),
            mode: "same-origin",
            credentials: "same-origin",
            cache: "no-cache",
            keepalive: false
        });

        return response;
    }

    //Bootstrap
    main();
</script>